<div class="card">
    <div class="flag-img">
        <img src="{{name.coatOfArms.svg}}" alt="{{name.name}}">
    </div>
    <div class="card-body">
        <h2 class="country-titel">{{name.name.official}}</h2>
        <p class="country-text">Capital: {{name.capital}}</p>
        <p class="country-text">Population: {{name.population}}</p>
        <p class="country-text">Languages: {{name.languages}}</p>
    </div>
</div>